
.header{
    background: $degrade-goiaba;

    .logo {
        width: 70px;
    }
    img{
        width: 40px;
    }
    button{
        color:#ffffff;
        border: 1px solid white;
        background-color:$azul;
        border-radius:48px;
    }
}
